@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Lora', serif;
  background-color: rgb(152, 151, 151);
  display:flex;
  flex-direction: column;
}

header .container {
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
  padding: 1%;
  border-bottom: solid black 1px;
  box-shadow: 10px 1px 10px black;
  margin-bottom: 1%;
}

header a {
  text-decoration: none;
  color: black;
}

.pages {
  max-width: 90%;
  padding: 0 1% 1% 1%;
  margin:0 auto;
}

.cores-details {
  background-color: white;
  border: 1px black solid;
  margin: 1.5% 0 1.5% 0;
  padding: 1% 0 1% 1%;
}

.core-title {
  width: 25%;
  margin: 0 auto;
}

#admin-form {
  background-color: white;
  border: 1px black solid;
  margin: 1.5% 0 1.5% 0;
  padding: 1% 0 1% 1%;
  align-items: center;
}

#admin-form h3 {
  width: 25%;
  margin: 0 auto;
}




