@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');


* {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: 'Lora', serif;
  background-color: rgb(152, 151, 151);
  display:flex;
  flex-direction: column;
}

header .container {
  margin: 0 auto;
  text-align: center;
  justify-content: space-between;
  padding: 1%;
  border-bottom: solid black 1px;
  box-shadow: 10px 1px 10px black;
  margin-bottom: 1%;
}

header a {
  text-decoration: none;
  color: black;
}

.pages {
  max-width: 90%;
  padding: 0 1% 1% 1%;
  margin:0 auto;
}

.cores-details {
  background-color: white;
  border: 1px black solid;
  margin: 1.5% 0 1.5% 0;
  padding: 1% 0 1% 1%;
}

.cores-details span {
  border: 1px black;
}

.core-title {
  width: 5%;
  margin: 0 auto;
  
}

/* admin form */

#admin-form {
  display:flex;
  flex-direction: column;
  background-color: white;
  border: 1px black solid;
  margin: 1.5% 0 1.5% 0;
  padding: 1% 0 1% 1%;
  align-items: center;
}

#admin-form h3 {
  width: 20;
  margin: 0 auto;
}

#admin-form > * {
  /* padding: 1%; */
  margin-top: 1%;;
}

#admin-form button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6px 14px;
  border-radius: 6px;
  border: none;

  background: #6E6D70;
  box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), inset 0px 0.5px 0.5px rgba(255, 255, 255, 0.5), 0px 0px 0px 0.5px rgba(0, 0, 0, 0.12);
  color: #DFDEDF;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

#admin-form button:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 1px black;
  outline: 0;
}




